<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>History</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="stylesheets/nav.css"/>
    <link rel="stylesheet" href="stylesheets/index.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <style>
        body {
            text-align: center;
        }

        #center {
            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
            width: 1000px;
            height: 500px;
        }
    </style>
</head>

<body>
<!--导航栏-->
<div class="navbar-wrapper">
    <div class="container-fluid">
        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Logo</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="index.html" class="">首页</a></li>
                        <li><a href="index.html">同城活动</a></li>
                        <li><a href="release_activity.html">发布活动</a></li>
                        <li class=" dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">失物<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="lost.html">失物列表</a></li>
                                <li><a href="release_lost.html">发布失物</a></li>
                            </ul>
                        </li>
                        <li class=" dropdown">
                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">招领<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="found.html">招领信息</a></li>
                                <li><a href="release_found.html">发布招领</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人中心<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="personal">个人信息</a></li>
                                <li><a href="history">已发布信息</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li class=""><a href="#">注销</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<!--导航栏结束-->
<div id="center">
    <div class="panel panel-default">
        <div class="panel-heading" style="font-size: large; font-weight: bold">已发布活动信息</div>
        <div class="panel-body">
            <table id="activity" class="table">
                <tbody>
                <tr>
                    <th>活动名称</th>
                    <th>时间</th>
                    <th>地点</th>
                    <th>活动类型</th>
                    <th>活动简介</th>
                </tr>
                <tr>
                    <td>圣诞嘉年华</td>
                    <td>12.25</td>
                    <td>新天地一条街</td>
                    <td>校级</td>
                    <td>校学生会国际部</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" style="font-size: large; font-weight: bold">已发布失物信息</div>
        <div class="panel-body">
            <table id="lost" class="table">
                <tbody>
                <tr>
                    <th>物品名称</th>
                    <th>时间</th>
                    <th>地点</th>
                    <th>物品类型</th>
                    <th>物品简介</th>
                </tr>
                <tr>
                    <td>苹果电脑</td>
                    <td>12.25</td>
                    <td>教学F楼</td>
                    <td>电子产品</td>
                    <td>无</td>
                </tr>
				<tr>
                    <td>苹果电脑</td>
                    <td>12.25</td>
                    <td>教学F楼</td>
                    <td>电子产品</td>
                    <td>无</td>
                </tr>
				<tr>
                    <td>苹果电脑</td>
                    <td>12.25</td>
                    <td>教学F楼</td>
                    <td>电子产品</td>
                    <td>无</td>
                </tr>
				<tr>
                    <td>苹果电脑</td>
                    <td>12.25</td>
                    <td>教学F楼</td>
                    <td>电子产品</td>
                    <td>无</td>
                </tr>
				<tr>
                    <td>苹果电脑</td>
                    <td>12.25</td>
                    <td>教学F楼</td>
                    <td>电子产品</td>
                    <td>无</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" style="font-size: large; font-weight: bold">已发布招领信息</div>
        <div class="panel-body">
            <table id="found" class="table">
                <tbody>
                <tr>
                    <th>物品名称</th>
                    <th>时间</th>
                    <th>地点</th>
                    <th>物品类型</th>
                    <th>物品简介</th>
                </tr>
                <tr>
                    <td>苹果电脑</td>
                    <td>12.25</td>
                    <td>教学F楼</td>
                    <td>电子产品</td>
                    <td>无</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>

</html>