<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Lost Detail</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/lost_detail.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/lost_detail.js"></script>
	<script type="text/javascript" language="javascript" src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=TbLC35kAGkxnk1bfocGR6TI8X1sgLCRz"></script>
</head>

<body>
<!--导航栏-->
<div class="navbar-wrapper">
    <div class="container-fluid">
        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Logo</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="index.html" class="">首页</a></li>
                        <li><a href="index.html">同城活动</a></li>
                        <li><a href="release_activity.html">发布活动</a></li>
                        <li class=" dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">失物<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="lost.html">失物列表</a></li>
                                <li><a href="release_lost.html">发布失物</a></li>
                            </ul>
                        </li>
                        <li class=" dropdown">
                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">招领<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="found.html">招领信息</a></li>
                                <li><a href="release_found.html">发布招领</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人中心<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="personal.html">个人信息</a></li>
                                <li><a href="history.html">已发布信息</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li class=""><a href="#">注销</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<!--导航栏结束-->

<div class="container">
    <div class="card">
        <div class="container-fluid">
            <div class="wrapper row">
                <div class="preview col-md-5">
                    <img src="http://placekitten.com/400/252"/>
                </div>
                <div class="details col-md-6 col-md-offset-1">
                    <h1 class="lost-title">保温水杯</h1>
                    <h2 class="lost-owner">发布人:<span>方小花</span></h2>
                    <h3 class="time">遗失时间： <span>2016-12-25</span></h3>
                    <h3 class="address">遗失地点：<span>同济大学嘉定校区教学F楼</span></h3>
                    <h3 class="type">所属类型：<span>生活用品</span></h3>
                    <h3 class="bonus">悬赏分：<span>3</span></h3>
					<!-- map -->
					<h3 class="bonus" for="description">地图标识：</h3>
					<div class="" id="map" name="map" style="height:300px; width:480px;"></div>
					<script type="text/javascript"> 
						var map = new BMap.Map("map");          // 创建地图实例  
						var point = new BMap.Point(121.221, 31.292);  // 创建点坐标  
						map.centerAndZoom(point, 20);                 // 初始化地图，设置中心点坐标和地图级别
						var marker = new BMap.Marker(point);        // 创建标注    
						map.addOverlay(marker);                     // 将标注添加到地图中
						//**********************************************
						map.addControl(new BMap.NavigationControl());        
						map.addControl(new BMap.MapTypeControl());
						//**********************************************
						marker.enableDragging();    
						marker.addEventListener("dragend", function(e){    
						var coord = e.point.lng+','+e.point.lat; // 存放位置坐标
						});
					</script>

                </div>
            </div>
            <div class="description">
                <h3>物品简介</h3>
                <p>哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</p>
            </div>
			
            <div class="comment-container">
                <h3>给发布人留言</h3>
                <div>
                    <textarea class="form-control col-md-8" rows="3" id="comment">只有发布人可见哦...</textarea>
                </div>
                <button class="btn btn-primary btn-lg pull-right" style="margin-top:10px" onclick="createLostComment()" type="submit">发送</button>
                <table class="table">
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>

</html>