<!DOCTYPE html>
<html>
  <head>
    <title>hey</title>
  </head>
  <body>
    <p><%= title %></p>
    <form id="text_form" method="post" action="/register">                                                                                   
	    邮箱： <input type="text" id="mail" name="mail"></ br> 
	    密码： <input type="text" id="code" name="code"></ br> 
	    名字： <input type="text" id="name" name="name"></ br> 
	    电话： <input type="text" id="phone" name="phone"></ br> 
	    <input class="submit" type="submit" value="submit">
    </form>
    <div id="hh"></div>
  </body>
</html>