<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Release Lost</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/release_lost.js"></script>
	<script type="text/javascript" language="javascript" src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=TbLC35kAGkxnk1bfocGR6TI8X1sgLCRz"></script>
    <style>
        body {
            text-align: center;
        }

        #center {
            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
            width: 1000px;
            height: 500px;
        }
    </style>
</head>

<body>
<!--导航栏-->
<div class="navbar-wrapper">
    <div class="container-fluid">
        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Logo</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="index.html" class="">首页</a></li>
                        <li><a href="index.html">同城活动</a></li>
                        <li><a href="release_activity.html">发布活动</a></li>
                        <li class=" dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">失物<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="lost.html">失物列表</a></li>
                                <li><a href="release_lost.html">发布失物</a></li>
                            </ul>
                        </li>
                        <li class=" dropdown">
                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">招领<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="found.html">招领信息</a></li>
                                <li><a href="release_found.html">发布招领</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人中心<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="personal.html">个人信息</a></li>
                                <li><a href="history.html">已发布信息</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li class=""><a href="#">注销</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<!--导航栏结束-->

<div id="center">
    <div class="panel panel-default">
        <div class="panel-heading" style="font-size: large; font-weight: bold">发布失物信息</div>
        <div class="panel-body">
            <form class="form-horizontal" enctype="multipart/form-data" method="post" action="/releaseLost">
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="name">物品名称</label>
                        <div class="col-md-6">
                            <input id="name" name="name" class="form-control input-md" type="text" required="required">
                        </div>
                    </div>

                    <div class="form-group registration-date">
                        <label class="col-md-4 control-label" for="date">时间</label>
                        <div class="col-md-4 registration-date-time">
                            <input id="date" name="date" class="form-control" type="date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="address">地点</label>
                        <div class="col-md-6">
                            <input id="address" name="address" class="form-control input-md" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="bonus">悬赏分</label>
                        <div class="col-md-6">
                            <input id="bonus" name="bonus" class="form-control input-md" type="text" style="width:100px">
                        </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="type">类型</label>
                        <div class="col-md-4">
                            <select id="type" name="type" class="form-control">
                                <option value="lost">lost</option>
                                <option value="found">found</option>
                            </select>
                        </div>
                    </div>

                    <!-- File Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="img">选择一张图片</label>
                        <div class="col-md-4">
                            <input id="img" name="img" class="input-file" type="file">
                        </div>
                    </div>

                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="description">物品简介</label>
                        <div class="col-md-6">
                            <textarea class="form-control" id="description" name="description"
                                      rows="3">default text</textarea>
                        </div>
                    </div>
					<!-- map -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="description">地图标识</label>
							<input type="text" name ="map" id="map" style="display:none;">
						<div class="preview col-md-6" id="maps" name="maps" style="height:300px; width:480px;"></div>
						<script type="text/javascript"> 
							var map = new BMap.Map("maps");          // 创建地图实例  
							var point = new BMap.Point(121.221, 31.292);  // 创建点坐标  
							map.centerAndZoom(point, 20);                 // 初始化地图，设置中心点坐标和地图级别
							var marker = new BMap.Marker(point);        // 创建标注    
							map.addOverlay(marker);                     // 将标注添加到地图中
							//**********************************************
							map.addControl(new BMap.NavigationControl());    
							//map.addControl(new BMap.ScaleControl());    
							map.addControl(new BMap.MapTypeControl());
							//**********************************************
							marker.enableDragging();    
							marker.addEventListener("dragend", function(e){    
							//alert("当前位置：" + e.point.lng + ", " + e.point.lat);
							var coord = e.point.lng+','+e.point.lat; // 存放位置坐标
							document.getElementById("map").value=coord;
							});
						</script>
                    </div>

                    <div class="col-md-4 col-md-offset-4">
                        <button class="btn btn-primary btn-lg" type="submit">确认</button>
                        <button class="btn btn-primary btn-lg col-md-offset-5" type="reset">重置</button>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>

</body>

</html>