<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/signup.css" rel="stylesheet">

</head>

<body>

<div class="signup">
    <div class="signup-head"><img src="images/test/head_120.jpg" alt="" class="img-circle"></div>
    <div class="form-signup">
        <input id="username1" type="text1" class="form-control" placeholder="用户名" required autofocus/>
        <input id="email1" type="text2" class="form-control" placeholder="邮箱" required autofocus/>
        <input id="pasw1" type="password" class="form-control" placeholder="密码" required/>
        <input id="pasw2" type="password" class="form-control" placeholder="重新输入密码" required/>
        <button class="btn btn-lg btn-warning btn-block" onclick="signup()">注册</button>
    </div>
</div>

<script src="js/signup.js"></script>
</body>

</html>